In [1]:
from boto3.s3.transfer import S3Transfer
import boto3
import os
import zipfile
from zipfile import ZipFile as zf
import pandas as pd

In [2]:
# S3 access, bucket and file configurations
aws_access_key_id = 'XXXX'
aws_secret_access_key = 'XXXX'
s3 = boto3.resource('s3')
s3_bucket_name = 'erho2'
file_downloaded = "Olist.zip"

In [3]:
# Download dataset from S3
s3 = boto3.client('s3')
s3.download_file(s3_bucket_name, file_downloaded, file_downloaded)

In [2]:
# Unzip dataset which I downloaded from S3
with zf(file_downloaded, 'r') as zipObj:
    zipObj.extractall()

NameError: name 'file_downloaded' is not defined

In [3]:
# Dataset reading
customer = pd.read_csv("olist_customers_dataset.csv")
geolocation = pd.read_csv("olist_geolocation_dataset.csv")
order_items = pd.read_csv("olist_order_items_dataset.csv")
order_payments = pd.read_csv("olist_order_payments_dataset.csv")
order_reviews = pd.read_csv("olist_order_reviews_dataset.csv")
orders = pd.read_csv("olist_orders_dataset.csv")
products = pd.read_csv("olist_products_dataset.csv")
sellers = pd.read_csv("olist_sellers_dataset.csv")
translation = pd.read_csv("product_category_name_translation.csv") # We don't need it but I would like to read all of CSV files

In [4]:
# Dataset information
datasets = [customer, geolocation, order_items, order_payments, order_reviews, orders, products, sellers]
titles = ["customers","geolocation", "items", "payments", "reviews", "orders", "products", "sellers"]
info_df = pd.DataFrame({},)
info_df["Dataset"] = titles
info_df['Columns'] = [','.join([col for col, null in df.isnull().sum().items()]) for df in datasets]
info_df["Columns No"] = [df.shape[1] for df in datasets]
info_df["Null Amount"] = [df.isnull().sum().sum() for df in datasets]
info_df["Null Columns Amount"] = [len([col for col, null in df.isnull().sum().items() if null > 0]) for df in datasets]
info_df['Null Cols'] = [', '.join([col for col, null in df.isnull().sum().items() if null > 0]) for df in datasets]

info_df.style.background_gradient(cmap='coolwarm')

In [5]:
# Merge all tables and check missing values and types of datas
df = pd.merge(orders,order_payments, on="order_id")
df = df.merge(customer, on="customer_id")
df = df.merge(order_items, on="order_id")
df = df.merge(products, on="product_id")
df = df.merge(translation, on="product_category_name")
df.dropna(inplace=True) # Null variables have gone
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113367 entries, 0 to 115877
Data columns (total 31 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113367 non-null  object
 1   customer_id                    113367 non-null  object
 2   order_status                   113367 non-null  object
 3   order_purchase_timestamp       113367 non-null  object
 4   order_approved_at              113367 non-null  object
 5   order_delivered_carrier_date   113367 non-null  object
 6   order_delivered_customer_date  113367 non-null  object
 7   order_estimated_delivery_date  113367 non-null  object
 8   payment_sequential             113367 non-null  int64
 9   payment_type                   113367 non-null  object
 10  payment_installments           113367 non-null  int64
 11  payment_value                  113367 non-null  float64
 12  customer_unique_id             113367 non-null  object
 13  customer_zip_code_prefix       113367 non-null  int64
 14  customer_city                  113367 non-null  object
 15  customer_state                 113367 non-null  object
 16  order_item_id                  113367 non-null  int64
 17  product_id                     113367 non-null  object
 18  seller_id                      113367 non-null  object
 19  shipping_limit_date            113367 non-null  object
 20  price                          113367 non-null  float64
 21  freight_value                  113367 non-null  float64
 22  product_category_name          113367 non-null  object
 23  product_name_lenght            113367 non-null  float64
 24  product_description_lenght     113367 non-null  float64
 25  product_photos_qty             113367 non-null  float64
 26  product_weight_g               113367 non-null  float64
 27  product_length_cm              113367 non-null  float64
 28  product_height_cm              113367 non-null  float64
 29  product_width_cm               113367 non-null  float64
 30  product_category_name_english  113367 non-null  object
dtypes: float64(10), int64(4), object(17)
memory usage: 27.7+ MB

In [6]:
# Correction data types of dates
df['order_purchase_timestamp'] = pd.to_datetime(df.order_purchase_timestamp)
df['order_approved_at'] = pd.to_datetime(df.order_approved_at)
df['order_delivered_carrier_date'] = pd.to_datetime(df.order_delivered_carrier_date)
df['order_delivered_customer_date'] = pd.to_datetime(df.order_delivered_customer_date)
df['order_estimated_delivery_date'] = pd.to_datetime(df.order_estimated_delivery_date)
df['shipping_limit_date'] = pd.to_datetime(df.shipping_limit_date)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 113367 entries, 0 to 115877
Data columns (total 31 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       113367 non-null  object
 1   customer_id                    113367 non-null  object
 2   order_status                   113367 non-null  object
 3   order_purchase_timestamp       113367 non-null  datetime64[ns]
 4   order_approved_at              113367 non-null  datetime64[ns]
 5   order_delivered_carrier_date   113367 non-null  datetime64[ns]
 6   order_delivered_customer_date  113367 non-null  datetime64[ns]
 7   order_estimated_delivery_date  113367 non-null  datetime64[ns]
 8   payment_sequential             113367 non-null  int64
 9   payment_type                   113367 non-null  object
 10  payment_installments           113367 non-null  int64
 11  payment_value                  113367 non-null  float64
 12  customer_unique_id             113367 non-null  object
 13  customer_zip_code_prefix       113367 non-null  int64
 14  customer_city                  113367 non-null  object
 15  customer_state                 113367 non-null  object
 16  order_item_id                  113367 non-null  int64
 17  product_id                     113367 non-null  object
 18  seller_id                      113367 non-null  object
 19  shipping_limit_date            113367 non-null  datetime64[ns]
 20  price                          113367 non-null  float64
 21  freight_value                  113367 non-null  float64
 22  product_category_name          113367 non-null  object
 23  product_name_lenght            113367 non-null  float64
 24  product_description_lenght     113367 non-null  float64
 25  product_photos_qty             113367 non-null  float64
 26  product_weight_g               113367 non-null  float64
 27  product_length_cm              113367 non-null  float64
 28  product_height_cm              113367 non-null  float64
 29  product_width_cm               113367 non-null  float64
 30  product_category_name_english  113367 non-null  object
dtypes: datetime64[ns](6), float64(10), int64(4), object(11)
memory usage: 27.7+ MB

In [8]:
# Merge "id" column from orders table by order_id column, 
# Merge "product_id", "product_category_name", "product_id" columns from products table by product_id column
# Merged these tables for calculate late orders
merged_order_products = order_items.merge(orders, on="order_id").merge(products[["product_id", "product_category_name"]], on="product_id")
late_orders = merged_order_products.loc[merged_order_products.shipping_limit_date < merged_order_products.order_delivered_carrier_date].head()

In [9]:
# Late orders list
late_orders

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_category_name
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,cool_stuff
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,e6eecc5a77de221464d1c4eaff0a9b64,delivered,2017-06-28 11:52:20,2017-06-29 02:44:11,2017-07-05 12:00:33,2017-07-13 20:39:29,2017-07-26 00:00:00,cool_stuff
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,4ef55bf80f711b372afebcb7c715344a,delivered,2018-05-18 10:25:53,2018-05-18 12:31:43,2018-05-23 14:05:00,2018-06-04 18:34:26,2018-06-07 00:00:00,cool_stuff
9,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93,f6dd3ec061db4e3987629fe6b26e5cce,delivered,2017-04-26 10:53:06,2017-04-26 11:05:13,2017-05-04 14:35:00,2017-05-12 16:04:24,2017-05-15 00:00:00,pet_shop
15,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.9,18.14,58dbd0b2d70206bf40e62cd34e84d795,delivered,2017-02-04 13:57:51,2017-02-04 14:10:13,2017-02-16 09:46:09,2017-03-01 16:42:31,2017-03-17 00:00:00,ferramentas_jardim

In [10]:
# Also we can use this commands provide types of data for each column BUT I don't know why it gives me a new baby column named "c0" xD You can check with codes below
# late_orders.to_csv("late_orders.csv")
# spark_late = sc.read.csv("late_orders.csv", inferSchema=True, header=True)
# spark_late.printSchema()

In [11]:
import findspark
findspark.init()
import pyspark
from pyspark import SparkContext
from pyspark import SparkConf
from pyspark.sql import SQLContext
from pyspark.sql import *
from pyspark.sql.functions import *
spark = SparkSession.builder \
.master("local[1]") \
.appName("") \
.getOrCreate()
sql = SQLContext(spark)

C:\Bigdata\spark\python\pyspark\sql\context.py:77: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [12]:
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
spark_late_items = sql.createDataFrame(merged_order_products)
spark_late_items.createOrReplaceTempView('spark_late_items')
spark_late_items.show(5)

+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+---------------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date|price|freight_value|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|product_category_name|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+---------------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35| 58.9|        13.29|3ce436f183e68e078...|   delivered|     2017-09-13 08:59:02|2017-09-13 09:45:35|         2017-09-19 18:34:16|          2017-09-20 23:43:48|          2017-09-29 00:00:00|           cool_stuff|
|130898c0987d18014...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-07-05 02:44:11| 55.9|        17.96|e6eecc5a77de22146...|   delivered|     2017-06-28 11:52:20|2017-06-29 02:44:11|         2017-07-05 12:00:33|          2017-07-13 20:39:29|          2017-07-26 00:00:00|           cool_stuff|
|532ed5e14e24ae1f0...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2018-05-23 10:56:25| 64.9|        18.33|4ef55bf80f711b372...|   delivered|     2018-05-18 10:25:53|2018-05-18 12:31:43|         2018-05-23 14:05:00|          2018-06-04 18:34:26|          2018-06-07 00:00:00|           cool_stuff|
|6f8c31653edb8c83e...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-08-07 18:55:08| 58.9|        16.17|30407a72ad8b3f4df...|   delivered|     2017-08-01 18:38:42|2017-08-01 18:55:08|         2017-08-02 19:07:36|          2017-08-09 21:26:33|          2017-08-25 00:00:00|           cool_stuff|
|7d19f4ef4d0446198...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-08-16 22:05:11| 58.9|        13.29|91a792fef70ecd8cc...|   delivered|     2017-08-10 21:48:40|2017-08-10 22:05:11|         2017-08-11 19:43:07|          2017-08-24 20:04:21|          2017-09-01 00:00:00|           cool_stuff|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+---------------------+
only showing top 5 rows

In [13]:
spark.sql('SELECT * FROM spark_late_items').show(5)

+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+---------------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date|price|freight_value|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|product_category_name|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+---------------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35| 58.9|        13.29|3ce436f183e68e078...|   delivered|     2017-09-13 08:59:02|2017-09-13 09:45:35|         2017-09-19 18:34:16|          2017-09-20 23:43:48|          2017-09-29 00:00:00|           cool_stuff|
|130898c0987d18014...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-07-05 02:44:11| 55.9|        17.96|e6eecc5a77de22146...|   delivered|     2017-06-28 11:52:20|2017-06-29 02:44:11|         2017-07-05 12:00:33|          2017-07-13 20:39:29|          2017-07-26 00:00:00|           cool_stuff|
|532ed5e14e24ae1f0...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2018-05-23 10:56:25| 64.9|        18.33|4ef55bf80f711b372...|   delivered|     2018-05-18 10:25:53|2018-05-18 12:31:43|         2018-05-23 14:05:00|          2018-06-04 18:34:26|          2018-06-07 00:00:00|           cool_stuff|
|6f8c31653edb8c83e...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-08-07 18:55:08| 58.9|        16.17|30407a72ad8b3f4df...|   delivered|     2017-08-01 18:38:42|2017-08-01 18:55:08|         2017-08-02 19:07:36|          2017-08-09 21:26:33|          2017-08-25 00:00:00|           cool_stuff|
|7d19f4ef4d0446198...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-08-16 22:05:11| 58.9|        13.29|91a792fef70ecd8cc...|   delivered|     2017-08-10 21:48:40|2017-08-10 22:05:11|         2017-08-11 19:43:07|          2017-08-24 20:04:21|          2017-09-01 00:00:00|           cool_stuff|
+--------------------+-------------+--------------------+--------------------+-------------------+-----+-------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+---------------------+
only showing top 5 rows

In [14]:
spark_late_items.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- order_item_id: long (nullable = true)
 |-- product_id: string (nullable = true)
 |-- seller_id: string (nullable = true)
 |-- shipping_limit_date: string (nullable = true)
 |-- price: double (nullable = true)
 |-- freight_value: double (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: string (nullable = true)
 |-- order_approved_at: string (nullable = true)
 |-- order_delivered_carrier_date: string (nullable = true)
 |-- order_delivered_customer_date: string (nullable = true)
 |-- order_estimated_delivery_date: string (nullable = true)
 |-- product_category_name: string (nullable = true)

In [15]:
spark_late_items.coalesce(1).write.option("header", "true").csv("spark_late_items")

Py4JJavaError: An error occurred while calling o47.csv.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.errors.QueryExecutionErrors$.jobAbortedError(QueryExecutionErrors.scala:496)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:251)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:186)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:113)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:111)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:125)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:110)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:110)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:106)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:82)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:457)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:106)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:93)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:91)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:128)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:848)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:382)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:355)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:239)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:839)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:834)
Caused by: java.lang.UnsatisfiedLinkError: org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Ljava/lang/String;I)Z
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access0(Native Method)
	at org.apache.hadoop.io.nativeio.NativeIO$Windows.access(NativeIO.java:793)
	at org.apache.hadoop.fs.FileUtil.canRead(FileUtil.java:1215)
	at org.apache.hadoop.fs.FileUtil.list(FileUtil.java:1420)
	at org.apache.hadoop.fs.RawLocalFileSystem.listStatus(RawLocalFileSystem.java:601)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.fs.ChecksumFileSystem.listStatus(ChecksumFileSystem.java:761)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:1972)
	at org.apache.hadoop.fs.FileSystem.listStatus(FileSystem.java:2014)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.getAllCommittedTaskPaths(FileOutputCommitter.java:334)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJobInternal(FileOutputCommitter.java:404)
	at org.apache.hadoop.mapreduce.lib.output.FileOutputCommitter.commitJob(FileOutputCommitter.java:377)
	at org.apache.spark.internal.io.HadoopMapReduceCommitProtocol.commitJob(HadoopMapReduceCommitProtocol.scala:182)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$write$20(FileFormatWriter.scala:240)
	at scala.runtime.java8.JFunction0$mcV$sp.apply(JFunction0$mcV$sp.java:23)
	at org.apache.spark.util.Utils$.timeTakenMs(Utils.scala:605)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:240)
	... 42 more